/* Base Styles */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  overflow: hidden;
  background: #dbf0ff;
  color: #000;
  font-family: Arial, sans-serif;
}

/* Typography */
h2,
h3,
p,
button {
  display: block;
  padding: 8px 16px;
  font-size: 24px;
  line-height: 1;
  font-weight: normal;
}

/* Button Styles */
button {
  appearance: none;
  color: #000;
  background-color: #ffffff;
  border: 0;
  text-decoration: none;
  cursor: pointer;

  svg {
    fill: black;
  }
  &.more-info-btn:hover {
    background: #e7ff9a;
    color: #5500ff;
  }

  &.rsvp-btn:hover {
    background: #5500ff;
    color: #e7ff9a;
  }
}

/* Layout Components */
.text-block {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 24px;
  padding: 16px 0;
}

.text-block p {
  background-color: #fff;
}
.more-info {
  position: absolute;
  right: 0;
  height: 100dvh;
  z-index: 2;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: linear-gradient(90deg, #e7ff9acc, #dbf0ff);
  backdrop-filter: blur(10px);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;
}

.rsvp,
.more-info {
  p {
    font-size: 16px;
    line-height: 1.25;
  }

  button {
    position: sticky;
    top: 16px;
    right: 16px;
    width: 40px;
    padding: 8px;
    font-size: 24px;
    align-self: flex-end;
    font-weight: normal;
    mix-blend-mode: difference;
    opacity: 0;
    transition: opacity 1s .25s;

    &:hover {
      background-color: blue;
      color: cyan;
    }
  }
  &>*:last-child {
    padding-bottom: 80px;
  }
}
.rsvp {
  position: absolute;
  right: 0;
  z-index: 2;
}

.rsvp.visible,
.more-info.visible {
  transform: scaleX(100%);

  button {
    opacity: 1;
  }
}

/* Media Components */
.slideshow {
  position: fixed;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.slideshow video {
  width: clamp(320px, 50%, 560px);
}

.bottom-gif {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 3;
  width: 100%;
  height: 100%;
  pointer-events: none;
  mix-blend-mode: darken;
}

.bottom-gif img {
  position: fixed;
  right: 0;
  bottom: 0;
  width: clamp(300px, 25%, 800px);
}

canvas {
  z-index: 3;
  pointer-events: none;
}

.rsvp {
  position: fixed;
  right: 0;
  height: 100dvh;
  width: 100vw;
  z-index: 2;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  background: #5500ffaa;
  backdrop-filter: blur(10px);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.25s;

  p {
    font-size: 16px;
    line-height: 1.25;
  }

  .note {
    color: #ffffff;
    background: linear-gradient(#00000000, #dbf0ff);
  }

  .main-title {
    padding: 0;
    margin-top: 40px;
    text-align: center;
    color: #dbf0ff;
  }
}

.form-group {
  background: linear-gradient(#dbf0ff, #ffffff);
}

button[type='submit'],
.form-group {
  margin: 16px;
  padding: 16px;
  width: auto;

  p {
    padding: 0;
  }
}
input#email,
textarea {
  height: 40px;
  display: block;
  width: 100%;
  resize: none;
}


@media screen and (min-width: 768px) {
  .more-info, 
  .rsvp {
    width: 50vw;
  }
  h2,
  h3,
  p,
  button {
    font-size: 40px;
    line-height: 1;
  }

  button[type='submit'],
  .form-group {
    padding: 24px;
  }
}